*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url("img/nasa1.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100%;
}

.inicial {
    margin: 10% 0 0 0;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    background-image: linear-gradient(to right, #1E1B8C, #3084F2, #3084F2, #2E38F2);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 33px;
}

.descricao {
    font-size: 110%;
    color: #888;
}

.astronauta {
    margin: -5% 0 10px 0;
    float: right;
    width: 53%; 
    max-width: 510px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

main {
	margin: 20px 0 10px 0;
} 

form { 
    background-color: #333;
    border-radius: 7px;
    margin: 9px ;
    transition: 2s all;
    padding: 5%;
} 

form p {
    text-align: center;
    font-size: 130%;
    padding: 5% 0 1% 0;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.input-padrao {
    font-size: 80%;
	/* display: block; */
    margin: 2% 10% 2% 10%;
	width: 81%;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-family: 'Rubik', sans-serif;
}

.enviar {
    align-items: center;
    margin: 7px 10px 0px 60%;
    padding: 2% 5% 2% 5%;
	background: #2f2aa2;
	font-weight: bold;
	font-size: 100%;
    color: white;
	border: none;
	border-radius: 4px;
	transition: 1s all;
	cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
}

.enviar:hover {
    background: #4876d6;
    transform: scale(1.11);
}

@keyframes float {
	0% {
		transform: translatey(20px);
	}
	50% { 
		transform: translatey(0px);
	}
	100% { 
		transform: translatey(20px);
	}
}

section li {
    background: linear-gradient( #cdd6d5, #7ec7ce, #4477d0, #2c2ea9, #1d1c3c, #0b0b0b);
    margin: 2%;
    border-radius: 10px;
}

.lua {
    width: 20%;
}

section p {
    font-size: 80%;
    color: white;
    text-align: center;
    margin: 5%;
}

body p {
    font-size: 100%;
}

@media (min-width: 600px) { 
   .titulo {
    font-size: 200%;
   }

   .descricao{
    font-size: 160%;
   }

   form {
    margin: 4% 0 0 16%;
    width: 30%;
    padding: 0 2% 1% 0%;
   }

   form p {
    padding: 3% 2% 2% 2%;
   }

   .imput-padrao {
    width: 80%;
   }

   .enviar {
    margin: 3px 10px 0 70%;
    padding: 2% 5% 2% 5%;
   }
}



