*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url("img/nasa1.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100%;
}

.inicial {
    margin: 10% 0 0 0;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    background-image: linear-gradient(to right, #1E1B8C, #3084F2, #3084F2, #2E38F2);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 33px;
}

.descricao {
    font-size: 110%;
    color: #888;
}

.astronauta {
    margin: -5% 0 10px 0;
    float: right;
    width: 53%; 
    max-width: 510px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

main {
	margin: 20px 0 10px 0;
} 

form { 
    background-color: #333;
    border-radius: 7px;
    margin: 6px ;
    transition: 2s all;
    padding: 5%;
} 

form p {
    text-align: center;
    font-size: 130%;
    padding: 5% 0 1% 0;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.input-padrao {
    font-size: 80%;
	/* display: block; */
    margin: 2% 10% 2% 5%;
    padding: 0 0 0 4%;
	width: 81%;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-family: 'Rubik', sans-serif;
}

.enviar {
    align-items: center;
    margin: 0 10px 10px 60%;
    padding: 2% 5% 4% 5%;
	background: #2f2aa2;
	font-weight: bold;
	font-size: 100%;
    color: white;
	border: none;
	border-radius: 4px;
	transition: 1s all;
	cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

@keyframes float {
	0% {
		transform: translatey(20px);
	}
	50% { 
		transform: translatey(0px);
	}
	100% { 
		transform: translatey(20px);
	}
}

@media (min-width: 600px) { 
   
}



